/spring-aop-sample/target/
/spring-aop-sample/nb-configuration.xml

/spring-mvc-sample/target/
/spring-mvc-sample/nb-configuration.xml

/spring-sample/target/
/spring-sample/nb-configuration.xml